/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252726;
}

/* Header */
header {
  background-color: #3bace0;
  color: #da40da;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.header-content h1 {
  font-size: 2.5rem;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 75%;
  object-fit: cover;
  position: absolute;
  top: 75px;
  left: 75px;
}

/* Navigation */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Menu icon for mobile */
.menu-icon {
  display: none;
  background: #333;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

/* Section Content */
.section-content {
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

/* Certificates Grid */
.certificates-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.certificate-card {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  width: 250px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.certificate-card img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
}

/* Responsive Menu */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #333;
    width: 100%;
  }
  nav ul.show {
    display: flex;
  }
  .menu-icon {
    display: block;
  }
}
